@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #F5F5F5;
    --color-secondary: #072163;
    --font-rubik: "Rubik";
}